<!doctype html>
<html>
<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/static/img/anhtrinew/logo.png">
    <!-- ### CSS ### -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/fontawesome-free-5.15.4-web/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap">
    <!-- ### JS ### -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/static/js/login.js"></script>
</head>
<body>
    <div class="row justify-content-center">
        <div class="logo">
            <h1>Thang Gieng</h1>
        </div>
    </div>
    <div class="login-form">
        <div class="row justify-content-center">
            <div class="form-outer">
                <div id="error" class="alert alert-danger" style="display: none;"></div>
                <form method="POST" action='/Login'>
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password"
                            placeholder="Password">
                    </div>
                    <div class="row justify-content-center">
                        <div class="row log-reg-button">
                            <div class="col-md-6 col-lg-6">
                                <button type="submit" class="btn btn-dark">Submit</button>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <button class="btn btn-dark">Forgot Password?</button>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row justify-content-center">
                        <button onclick="window.location.href = '/Register' ; " type="button" id="reg-btn"
                            class="btn btn-create">Create Account?</button>
                    </div>
                </form>
            </div>
        </div>
</body>
</html>

